@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* Variables */
:root {
  /* ### Neutral */

  --LightGrayishCyanBackground: hsl(180, 52%, 96%);
  --LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);

  /* ### Primary */
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--LightGrayishCyanBackground);
  font-family: 'Nunito Sans', sans-serif;
}
.headerr {
  background-color: var(--DesaturatedDarkCyan);
}
.headerr1 {
  display: block;
  background-color: var(--DesaturatedDarkCyan);
}
.headerr2 {
  display: none;
}
.footP {
  border: 1px solid var(--LightGrayishCyanBackground);
  border-radius: 6px;
  background-color: var(--LightGrayishCyanBackground);
}
.image img {
  margin-top: -3.6rem;
  width: 18%;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.footPone {
  color: var(--DesaturatedDarkCyan);
  font-size: 18px;
  font-weight: 600;
}
.position {
  font-size: 18px;
  font-weight: 600;
  color: var(--VeryDarkGrayishCyan);
}
.grid2 {
  display: flex;
  color: var(--DarkGrayishCyan);
  font-size: 16px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}
.grid4 {
  color: var(--DesaturatedDarkCyan);
  font-weight: 700;
}
.main-div {
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 10px 18px #888888;
}
.flexx {
  display: flex;
}
.fleximg {
  border: 1px solid var(--DesaturatedDarkCyan);
  height: 33px;
  width: 25px;
  text-align: center;
  background-color: var(--DesaturatedDarkCyan);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.itemm {
  border: 1px solid var(--LightGrayishCyanBackground);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--LightGrayishCyanBackground);
  color: var(--DesaturatedDarkCyan);
  font-weight: 700;
}
.main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  transform: translateY(-2rem);
  border-radius: 6px;
  box-shadow: 5px 10px 18px #888888;
}
.cleear {
  color: var(--DarkGrayishCyan);
  font-weight: 600;
}
@media (min-width: 768px) {
  .headerr1 {
    display: none;
  }
  .headerr2 {
    display: block;
    background-color: var(--DesaturatedDarkCyan);
    width: 100%;
  }
  .image img {
    margin-top: 1rem;
    width: 5rem;
  }
  .sec-one {
    display: flex;
  }
  .footPone {
    font-size: 16px;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  .grid3 {
    width: 60%;
  }
  .grid4 {
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  .main-header {
    transform: translateY(-4rem);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .image img {
    width: 5rem;
  }
  .hline {
    display: none;
  }
  .grid4 {
    margin-top: 3.4rem;
  }
  .grid5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .position {
    font-size: 16px;
  }
  .position:hover {
    cursor: pointer;
    color: var(--DesaturatedDarkCyan);
    font-weight: 700;
  }
  .grid2 {
    font-size: 15px;
  }
  .main-header {
    transform: translateY(-4rem);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
  }
  .footP:hover {
    border: 1px solid var(--DesaturatedDarkCyan);
    background-color: var(--DesaturatedDarkCyan);
    color: white;
    cursor: pointer;
  }
  .fleximg:hover {
    border: 1px solid var(--VeryDarkGrayishCyan);
    cursor: pointer;
    background-color: var(--VeryDarkGrayishCyan);
  }
  .cleear:hover {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
    color: var(--DesaturatedDarkCyan);
  }
}
@media (min-width: 1440px) {
}
